@{
    ViewData["Title"] = "Home Page";
}

<div class="row gx-sm-3 gx-md-1 gx-lg-0">
    <div class="col">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>

    <div class="col">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>

</div>

<h4>Ejemplo 2: Gutter vertical</h4>

<div class="row gx-sm-3 gx-md-1 gx-lg-0 gy-5 g-5">

    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>

    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>

    <div class="col-6">
        <div class="bg-light border">
            Columna 3
        </div>
    </div>

    <div class="col-6">
        <div class="bg-light border">
            Columna 4
        </div>
    </div>

</div>